@use "../abstracts/variables" as *;

html {
  font-size: 62.5%; // base font size equal to 10px
  box-sizing: border-box;
  font-family: $font-main;
  background-color: $midnight-green;
  overflow: hidden;
}

*,
*::after,
*::before {
  font-family: inherit;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  width: 100%;
}

picture {
  display: block;
}

ul {
  list-style: none;
}
