@import url("https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap");

// TYPOGRAPHY
$weights: (
  "bold": 700,
  "semibold": 600,
);

@mixin headers($font-size, $line-height) {
  font-weight: map-get($map: $weights, $key: "bold");
  font-size: $font-size;
  line-height: $line-height;
}

@mixin body($font-size, $line-height) {
  font-weight: map-get($map: $weights, $key: "semibold");
  font-size: $font-size;
  line-height: $line-height;
}

@mixin h1-large {
  @include headers(10rem, 10rem);
  @include respond-to("mobile") {
    @include headers(5.2rem, 5.2rem);
  }
}

@mixin h1-small {
  @include headers(6.4rem, 5.6rem);
}

@mixin h2 {
  @include headers(4.8rem, 4.8rem);
  @include respond-to("mobile") {
    @include headers(3.2rem, 3.2rem);
  }
}

@mixin h3 {
  @include headers(1.8rem, 2.8rem);
}

@mixin body1 {
  @include body(1.8rem, 2.8rem);
  @include respond-to("mobile") {
    @include body(1.5rem, 2.5rem);
  }
}

@mixin body2 {
  @include body(1.5rem, 2.5rem);
  @include respond-to("mobile") {
    @include body(1.3rem, 2.3rem);
  }
}
